body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: #0f172a;
    color: white;
}

/* NAV */
nav {
    display: flex;
    justify-content: center;
    padding: 20px;
    background: #020617;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    position: relative;
    transition: 0.3s;
}

/* WAVE HOVER EFFECT */
nav a::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    background: #6366f1;
    left: 0;
    bottom: -5px;
    transition: 0.3s;
}

nav a:hover::after {
    width: 100%;
}

/* BUTTON HOVER */
.btn {
    padding: 12px 25px;
    background: #6366f1;
    color: white;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
    border-radius: 5px;
    transition: 0.3s;
}

.btn:hover {
    transform: translateY(-5px) scale(1.05);
}

/* SECTION */
.section {
    max-width: 900px;
    margin: 80px auto;
    text-align: center;
    padding: 20px;
}

/* IMAGE */
img {
    width: 300px;
    border-radius: 10px;
    margin-top: 20px;
}

/* CARD */
.card {
    background: #1e293b;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
}